<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cotización</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <center> <br>
            <div class="badge text-bg-primary">
                <h1 class="card-title">Cotización</h1> <br>
                <form action="/cotizacion" method="post">
                    <label for="">Valor del auto: </label>
                    <input type="number" name="valor" id="valor" required="true" value="<%=valor%>">
                    <br><br>
                    <label for="">Porcentaje de Pago Inicial: </label>
                    <select name="pInicial" id="pInicial">
                        <option value="10">10%</option>
                        <option value="20">20%</option>
                        <option value="30">30%</option>
                        <option value="50">50%</option>
                        <option value="70">70%</option>
                    </select>
                    <br><br>
                    <label for="">Plazos:</label>
                    <select name="plazos" id="plazos">
                        <option value="12">12 Meses</option>
                        <option value="24">24 Meses</option>
                        <option value="36">36 Meses</option>
                        <option value="48">48 Meses</option>
                        <option value="60">60 Meses</option>
                    </select>
                    <br><br>
                   <button type="submit" class="btn btn-dark">Calcular</button> 
                    <br>
                </form>
            </div>
            <%
                if(valor !=0){
                    var pagoInicial=0; 
                    var totalFin=0; 
                    var pagoMensual=0;

                    pagoInicial = valor * (pInicial/100);
                    totalFin = valor - pagoInicial;
                    pagoMensual = totalFin/plazos;
                }
                %>
            <br> <hr>

            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="./img/car.png" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                
                            <h4>Resumen de la cotización</h4>
                    
                            Valor del Automóvil: <%=valor%> <br>
                            Porcentaje de Pago Inicial: <%=pInicial%> <br>
                            Plazos: <%=plazos%><br> <br> 

                            Pago Inicial: <%=pagoInicial%> <br>
                            Total a Financiar: <%=totalFin%> <br>
                            Pago Mensual: <%=pagoMensual%>
                        </div>
                    </div>
                </div>
            </div>
            %>
        </center>
    </div>
</body>
</html>