<!DOCTYPE html>
<html lang="en">
<%-include('partials/encabezado.html');%>
<body>
    <div class="container">
        <center>
            <h1>Tabla de Multiplicar</h1>
        
            <form action="/tablas" method="post">
                Numero de tabla: 
                <input type="number" id="tabla" name="tabla" required="true" value="<%=tabla%>">

                <button type="submit" class="">Enviar</button> <br>
            </form>

            <%
                if(tabla!=null){
                    let res=0; 

                    for(con=1; con<=10; ++con){
                        res = con*tabla; 
                        %>
                        <h3><%=tabla%> * <%=con%> = <%=res%></h3>
                        <%
                    }
                }
            %>
            
            <%-include('partials/piePagina.html');%>
        </center>
    </div>
</body>
</html>